In [1]:
import pandas as pd
import datetime

In [2]:
books_data = {
    'BookID': [1, 2, 3, 4],
    'Title': ['1984', 'To Kill a Mockingbird', 'Python Programming', 'The AI Revolution'],
    'Author': ['George Orwell', 'Harper Lee', 'John Smith', 'Jane Doe'],
    'Available': [True, True, True, True],
}
books_df = pd.DataFrame(books_data)

In [ ]:

members_data = {
    'MemberID': [101, 102, 103],
    'Name': ['Ali', 'Avinsah', 'Charlie'],
    'Email': ['ali@example.com', 'avinash@example.com', 'charlie@example.com'],
}

NameError: name 'm' is not defined